.Doctor-booking-info {
    padding-left: 18px;

    .Doctor-booking-adress {
        border-bottom: 1px solid rgba(221, 221, 221, 1.00);

        .Doctor-address-title {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            color: #666666;

        }

        .Doctor-clinic {
            a {
                color: #48c4d3;
                font-weight: 600;
                font-size: 14px;
                text-decoration: none;

                &:hover {
                    color: #48c4d3;
                }
            }
        }

        .Doctor-address {
            color: rgba(32, 30, 30, 0.9);
            font-size: 13px;
        }
    }

    .Doctor-booking-price {
        .Doctor-price-title {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            color: #666666;
        }

        .Doctor-price-detail {
            border: 1px solid rgba(221, 221, 221, 1.00);
            margin-bottom: 8px;

            .note {
                color: rgba(102, 102, 102, 1.00);
                font-size: 12px;
            }

            .number {
                text-align: right;
            }

            .Doctor-price-up {
                border-bottom: 1px solid rgba(221, 221, 221, 1.00);
                padding: 4px;
                background-color: rgba(248, 248, 248, 1.00);
            }

            .Doctor-price-down {
                border-top: 1px solid rgba(221, 221, 221, 1.00);
                padding: 4px;
                background-color: rgba(238, 238, 238, 1.00)
            }

        }

        .hide-and-show {
            color: rgba(72, 196, 211, 1.00);
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}