@mixin content-size {
    height: 100%;
    max-width: 1215px;
    width: 80%;
    margin: 0 auto;
}

.doctor-detail-container {

    .infor-doctor {
        padding: 16px 0;
        margin: 18px 0;
        height: 100%;

        .content-wrapper {
            @include content-size();
            display: flex;
        }

        .doctor-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 130px;
            height: 130px;
            min-width: 130px;
            border-radius: 50%;
            margin: 0;
        }

        .intro-doctor {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            text-align: justify;

            .title-doctor {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 4px;
                margin-left: 0;
            }

            .job-title {
                color: rgba(85, 85, 85, 0.8);
                margin-left: 0;
                font-size: 16px;
            }
        }

        .schedule-doctor {
            @include content-size();
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            .schedule-detail {
                flex-basis: 55%;
                border-right: 1px solid rgba(221, 221, 221, 1.00);
            }

            .contact-doctor {
                flex-basis: 45%;
            }
        }
    }

    .detail-info-doctor {
        font-size: 16px;
        padding: 16px 0;
        background-color: rgba(249, 249, 249, 1);

        p {
            font-weight: 400
        }

        div {
            @include content-size();
            padding: 16px 0;
        }
    }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) and (min-width: 480px) {}

@media (min-width: 368px) and (max-width: 608px) {
    .doctor-detail-container {

        .infor-doctor {
            .intro-doctor {
                .title-doctor {
                    font-size: 14px;

                }

                .job-title {
                    font-size: 13px;
                }
            }

            .content-wrapper {
                width: 88%;
            }

            .schedule-doctor {
                width: 88%;
                flex-direction: column;

                .schedule-detail {
                    flex-basis: 55%;
                    border-right: none;
                    border-bottom: 1px solid rgba(221, 221, 221, 1.00);
                }

                .contact-doctor {
                    flex-basis: 45%;
                }
            }
        }

        .detail-info-doctor {
            font-size: 14px;

            div {
                width: 88% !important;
            }
        }

        .Doctor-booking-info {
            padding-left: 0;
            padding-top: 1rem;
        }
    }
}