.doctor-schedule-container {


    .schedule-list {
        width: 150px;

        .my-select__control {
            border: none !important;
            border-bottom: 1px solid rgba(51, 122, 183, 1) !important;
            /* màu xanh dương */
            border-radius: 0 !important;
            box-shadow: none !important;
            background-color: transparent !important;
            min-height: unset !important;
            font-weight: 500;
            cursor: pointer;
        }

        .my-select__indicator-separator {
            display: none;
        }

        .my-select__menu {
            z-index: 9999;
            cursor: pointer;
        }

        .my-select__value-container {
            padding: 0 !important;
        }

        .my-select-container.highlight-selected .my-select__single-value {
            color: rgba(51, 122, 183, 1);
            font-weight: 600;
        }

        /* Highlight option được chọn trong dropdown */
        .my-select__option--is-selected {
            color: rgba(51, 122, 183, 1) !important;
            font-weight: 600;
            background-color: #e8f0fe !important;
        }
    }

    .schedule-available-time {
        .schedule-title {
            text-transform: uppercase;
            font-weight: 500;
            margin-top: 1.1rem;
            color: #333;

            i {
                margin-right: 10px;
            }
        }

        .schedule-time {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin: 8px 0;

            .schedule-btn {
                min-width: 145px;
                padding: 6px;
                outline: none;
                border: none;
                background-color: #EEEE;
                color: #333;
                font-weight: 500;

                &:hover {
                    outline: 2px solid #33b0e3;
                }
            }
        }

        .choose-icon {
            margin-right: 3px;
        }
    }



}