.upload-img {
    display: flex;
    gap: 12px;
}

.label {
    padding: 0px 11px;
    width: 120px;
    height: 36px;
    white-space: nowrap;
    border-radius: 3px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    gap: 8px;

    .label-img {
        cursor: pointer;

        i {
            margin-left: 4px;
        }
    }
}


.prevImg {
    height: 50px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}