/* Slick carousel styles */
.slick-prev {
    left: -10px !important;
    z-index: 2;
    height: 48px !important;
    width: 44px !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
    border: 1px solid #d7d7d7 !important;

    &::before {
        content: "\f105" !important;
        font-family: FontAwesome !important;
        color: #888 !important;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 1) !important;
    }
}

.slick-next {
    right: -10px !important;
    z-index: 2;
    height: 48px !important;
    width: 44px !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
    border: 1px solid #d7d7d7 !important;

    &::before {
        content: "\f105" !important;
        font-family: FontAwesome !important;
        color: #888 !important;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 1) !important;
    }
}

.slick-disabled {
    display: none !important;
}

/* Common section styles */
.specialty-section,
.medical-facility-section,
.handbook-section,
.doctor-section,
.about-section {
    border-top: 3px solid #ececec;
    ;

    &.section-bg {
        background-color: rgba(249, 249, 249, 1);
    }

    .section-container {
        height: 60%;
        min-height: 350px;
        margin: 0 auto;
        width: 81%;
        display: flex;
        flex-direction: column;

        .section-heading {
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font-size: 22px;
                font-weight: 500;
            }

            button {
                text-transform: uppercase;
                padding: 10px 15px;
                border: none;
                outline: none;
                background-color: #ebebeb;
                color: black;
                cursor: pointer;
                margin-right: 1px;

                &:hover {
                    color: white;
                    background-color: #f7d800;
                }
            }
        }

        .section-body {
            margin-bottom: 50px;

            .specialty-item,
            .medical-facility-item,
            .handbook-item,
            .doctor-item {
                padding: 5px;

                .section-img>img {
                    cursor: pointer;
                    width: 100%;
                    max-width: 100%;
                    height: 150px;
                    background-color: white;
                    margin-bottom: 4px;
                    border: 1px solid rgba(242, 241, 241, 1);
                    object-fit: contain;
                    object-position: center;
                    image-rendering: optimizeQuality;
                }

                .section-name {
                    color: #5f6163;
                    cursor: pointer;
                    padding: 0.4rem;

                    &:hover {
                        color: #45c3d2;
                    }
                }
            }

            .doctor-item {
                .customize-border {
                    border: 1px solid #cccccc91;
                    padding: 40px 20px;

                    .outer-bg {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 10px;
                    }
                }
            }

            .handbook-item {
                .section-handbook {
                    display: flex;
                    justify-content: space-between;
                    gap: 14px;

                    .section-slogan {
                        margin-right: 11px;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

.doctor-img>img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: contain;
    object-position: center;
}

.section-about {
    margin-bottom: 40px;
    display: flex;
    gap: 30px;
    width: 100%;

    .section-video {
        width: 50%;
    }

    .section-social {
        background-image: url('../../assets/images/social.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        width: 50%;
    }
}

/* Footer */
.home-footer {
    text-align: center;
    padding: 22px;
    background-color: rgba(100, 185, 229, 1);

    p {
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .info-doctor {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) and (min-width: 480px) {

    .section-about {
        flex-wrap: wrap;
        gap: 12px;

        .section-video {
            width: 100%;
        }

        .section-social {
            width: 100%;
        }
    }
}

@media (min-width: 368px) and (max-width: 608px) {
    .section-container {
        width: 88% !important;
    }

    .section-heading {
        padding: 18px 0;
        flex-wrap: wrap;
        gap: 10px;
    }

    .section-about {
        flex-wrap: wrap;
        gap: 12px;

        .section-video {
            width: 100%;
        }

        .section-social {
            width: 100%;
            height: 118px;
        }
    }
}